body {
	font-family: Sans-Serif;
	text-align: center;
}

table,
th,
td {
	border: 1px solid black;
}

.half-width {
	width: 50%;
}

.full-width {
	width: 100%;
}

.margin-auto {
	margin: auto;
}

.ta-left {
	text-align: left;
}

table.fixed {
	table-layout: fixed;
}

ul.no-style {
	list-style: none;
	padding: 0;
}

ul.inline {
	display: flex;
	justify-content: center;
	gap: 10px;
}
