body {
	font-family: Sans-Serif;
	text-align: center;
}

table,
th,
td {
	border: 1px solid black;
}

.full-width {
	width: 100%;
}

ul.inline {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 10px;
	padding: 0;
}
