---
layout: page.njk
title: 1001 Albums Log
---

<h1>1001 Albums Log</h1>
<p>Below is a the status of my attempt to listen to every album that has ever been in Robert Dimery's "1001 Albums You Must Hear Before You Die" (up to 2021 edition). </p>
<p>This includes 1089 albums, which you can see in raw text format <a href="https://gist.github.com/inalone/c9aa344de5740fc797697dc72acc5a89">here</a>, and the JSON template I created <a href="https://gist.github.com/inalone/75f4c894881d345ebddb322c16380795">here</a>.<p>

<p>"Times Listened" denotes the amount of plays with the intention of this list in mind, rather than just casual listens. I will try and listen to an album 3 times before writing the review.</p>

<table class="full-width">
	<thead>
		<tr>
			<th>Entry</th>
			<th>Times Listened</th>
			<th>Review</th>
		</tr>
	</thead>
	<tbody>
		{%- for entry in 1001list -%}
			<tr>
				<td>{{ entry.name }}</td>
				<td>{{ entry.timesListened }}</td>
				<td>{{ entry.review }}</td>
			</tr>
		{%- endfor -%}
	</tbody>
</table>
