---
layout: base.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<h1>inalone</h1>
This is highly WIP

{#
<h2>blog entries:</h2>
<ul class="inline">
	<li><a href="/blog/tag/post">all</a></li>
	{% for tag in collections.tagList %}
		<li><a href="/blog/tag/{{ tag }}">{{ tag }}</a></li>
	{% endfor %}
</ul>
#}

<h2>various:</h2>
<ul class="inline no-style">
	<li><a href="/1001-list">1001 albums log</a></li>
	<li><a href="/recipes">recipes</a></li>
</ul>

<h2>external links:</h2>
<ul class="inline no-style">
	<li><a href="https://github.com/inalone">github</a></li>
	<li><a href="https://last.fm/user/mjghd">last.fm</a></li>
</ul>
