.center-content {
    text-align: center;
    vertical-align: middle;
}

.inline {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.inline li {
    padding: 0.5rem;
}