/* for debugging layout */
/*
* {
	border: 1px solid;
}
*/

body {
  max-width: 1250px;
  margin: 8px auto;
}

header {
  border: 1px solid;
  border-bottom: 0;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	padding: 3px;
}

#content {
  border: 1px solid;
  display: flex;
}

.container {
  padding: 0.5vw;
}

/* header */
.header-text {
  text-decoration: none;
  font-size: 3rem;
  color: #acb123;
}

/* navbar */
.navbar {
  border-right: 1px solid;
}

.navbar_list {
  padding: 0;
  list-style-type: none;
}
