{{ define "main" }}
<article>
  <h1 class="blog_title">{{ .Title }}</h1>
  <div class="blog_info">
    <p>
      <time>{{ .PublishDate.Format "January 2, 2006" }}</time> | {{ .ReadingTime
      }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read
    </p>
  </div>
  <div class="blog_categories">
    Category: {{ range $i, $e := .Params.categories -}} {{- if $i -}}, {{ end
    -}}
    <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'
      >{{ $e | humanize }}</a
    >
    {{- end -}}
  </div>
  <div class="blog_tags">
    Tags: {{ range $i, $e := .Params.tags -}} {{- if $i -}}, {{ end -}}
    <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'
      >{{ $e | humanize }}</a
    >
    {{- end -}}
  </div>
  <div class="content">{{ .Content }}</div>
</article>
{{ end }}
