{{ define "main" }}

<div class="center-content">
    <h1>inalone blog</h1>

    <h2>blog entries:</h2>
    <ul class="inline">
        <a href="/posts">
            <li>all</li>
        </a>
        <a href="/tags/music">
            <li>music</li>
        </a>
        <a href="/tags/personal">
            <li>personal</li>
        </a>
    </ul>

    <h2>external links:</h2>
    <ul class="inline">
        <a href="https://www.last.fm/user/mjghd">
            <li>last.fm</li>
        </a>
        <a href="https://rateyourmusic.com/~inalone">
            <li>rym</li>
        </a>
    </ul>
</div>

{{ end }}