{{ define "main" }}

<div class="center-content">
    <h1>inalone</h1>
    (they/them)

    <h2>blog entries:</h2>
    <ul class="inline">
        <li><a href="/posts">all</a></li>
        <li><a href="/tags/music">music</a></li>
        <li><a href="/tags/programming">programming</a></li>
    </ul>

    <h2>external links:</h2>
    <ul class="inline">
        <li><a href="https://github.com/inalone">github</a></li>
        <li><a href="https://www.last.fm/user/mjghd">last.fm</a></li>
        <li><a href="https://mas.to/@inalone">mastodon</a></li>
        <li><a href="https://www.youtube.com/@inalone">youtube</a></li>
    </ul>
</div>

{{ end }}
