{{ define "main" }}

<div class="center-content">
    <h1>inalone</h1>

    <h2>blog entries:</h2>
    <ul class="inline">
        <li><a href="/posts">all</a></li>
        <li><a href="/tags/music">music</a></li>
        <li><a href="/tags/personal">personal</a></li>
    </ul>

    <h2>various links:</h2>
    <ul class="inline">
        <li><a href="/about">about me</a></li>
        <li><a href="/posts/personal/blogifesto">blogifesto</a></li>
    </ul>

    <h2>external links:</h2>
    <ul class="inline">
        <li><a href="https://github.com/inalone">github</a></li>
        <li><a href="https://www.last.fm/user/mjghd">last.fm</a></li>
    </ul>
</div>

{{ end }}
